<nav>
  <a href='' class="button primary square"><i class="material-icons">table_chart</i></a>
  <div id="title">/simg/ Greenie Board</div>
  <a *ngIf="auth.user" href='add' class="button primary square"><i class="material-icons">table_chart</i> Add
    pilot</a>
  <a href='login' id="login" class="button primary square">
    <i class="material-icons">person</i><span>User</span></a>
</nav>