:host {
    margin-bottom: 40px;
}

nav {
    display: flex;
    width: 100%;
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
}

#login {
    margin-left: auto;
}

#title {
    font-size: 36px;
}