table {
  width: 100%;

  thead {
    th {
      padding: 20px;
    }
  }

  tbody {
    color: white;
    background-color: darkgreen;

    td {
      padding: 20px;

      &.trapCell {
          
      }
    }
  }
}
