<form #login="ngForm" *ngIf="!authService.user" (submit)="authService.login(email.value, pass.value)">
  <input #email ngModel name="email" type="email" placeholder="E-mail" required autofocus>
  <input #pass ngModel name="pass" type="password" placeholder="Password" required>
  <button type="submit" [disabled]="login.invalid">-></button>
</form>

<div id="userpanel" *ngIf="authService.user">
  <h1>Hello {{ authService.user.email }}</h1>
  <small>You are already logged in</small>
  <span>Click here to log off:</span><button (click)="authService.logout()">---</button>

</div>