@import 'variables.scss';
@import 'modules/passes/passes.module.scss';


body {
    background-color: $light-blue;
}

a,
button.button {
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    background-color: transparent;

    &.square {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &.primary {
        background-color: darkgreen;
        color: white;
    }

    &:hover {

    }
}