<h1>Add pilot</h1>

<form #addPilot="ngForm" (submit)="crud.AddPilot(name.value, avatar.value)">

  <label>Pilot name:</label>
  <div>
    <input #name ngModel name="name" type="text" required>
  </div>

  <label>Avatar (optional):</label>
  <div>
    <input #avatar ngModel name="avatar" type="text">
  </div>
  <button type="submit" [disabled]="addPilot.invalid">Submit</button>
</form>