<h2>Passes<br>
  <small>Most recent on the left</small>
</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th colspan="15">Passes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pilot of pilotList">
      <td>
        <img [src]="pilot.avatarUrl" width="32px" height="32px">{{ pilot.name }}</td>
      <td>Score</td>
      <td class="trapCell" *ngFor="let dummy of [].constructor(15); let i = index">{{ i }}</td>
      <td>Add pass: <button (click)="crud.AddPass(pilot.$id, 3)">+</button></td>
    </tr>
  </tbody>
</table>

<h2>Legend</h2>
